<article style="background: aliceblue; width: 30%;">
    <img style="opacity: 0.7;" src="{{imgUrl}}" alt="{{name}}" width="100%">
    <section style="padding: 15px;">
        <h3>{{name}}</h3>
        <p>${{price}}</p>
        <span>{{category}}</span>
    </section>
</article>