<article class="product">
    <img src="{{imgUrl}}" alt="{{name}} image">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>${{price}}</p>
    <p style="padding: 5px 10px; border: 1px solid darkred; border-radius: 7px; font-size: 13px; width:fit-content" >{{category}}</p>
    <br>
    <a href="/product/{{_id}}" class="btn">Details</a>
</article>