<article class="product">
    <img src="{{imgUrl}}" alt="{{name}} image">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <span>${{price}}</span>
    <button class="btn">Details</button>
</article>